@font-face {
	font-family: 'Kelson Regular';
	src: url('../fonts/Kelson_Rg.eot');
	src: local('☺'), url('../fonts/Kelson_Rg.woff') format('woff'), url('../fonts/Kelson_Rg.ttf') format('truetype'), url('../fonts/Kelson_Rg.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Kelson Lt';
	src: url('../fonts/Kelson_Lt.eot');
	src: local('☺'), url('../fonts/Kelson_Lt.woff') format('woff'), url('../fonts/Kelson_Lt.ttf') format('truetype'), url('../fonts/Kelson_Lt.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?rd907e');
    src:    url('../fonts/icomoon.eot?rd907e#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?rd907e') format('truetype'),
        url('../fonts/icomoon.woff?rd907e') format('woff'),
        url('../fonts/icomoon.svg?rd907e#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-magnifying-glass:before {
    content: "\e900";
}
.icon-mail:before {
    content: "\e901";
}
.icon-old-phone:before {
    content: "\e902";
}
.icon-facebook:before {
    content: "\e904";
}
.icon-office:before {
    content: "\e905";
}
.icon-box-add:before {
    content: "\e906";
}
.icon-users:before {
    content: "\e903";
}
.icon-linkedin:before {
    content: "\e907";
}

.icon-rodape{
	margin-right:15px;
	font-size: 22px;
	color: #a3a5a8;	
}

.icones-contato{
	font-size: 16px;
	color: #a3a5a8;
	margin: 0 15px 20px 0;
	float: left;
}

.texto-contato{
	float: left;	
}