@charset "utf-8";
/* CSS Document */

.navbar-principal{
	border-radius: 0;	
	font-family: "Lato";
	font-size: 13px;
	text-transform: uppercase;
}

.menu-principal{
	float: right;
}

@media (min-width: 768px){
.menu-principal{
	float: left;
}

.menu-principal > li > a{
	color: #333;
	padding: 10px 9px;
}

	
}

.menu-principal > li > a{
	color: #333;
}

.menu-principal > li > a:hover,
.menu-principal > li.active > a,
.menu-principal > li.active > a:hover{
	color: #079b9d;
	background: none;
}

.dropdown-menu > li > a {
	font-size: 12px !important;	
}

.menu-principal > li.dropdown > a:hover,
.menu-principal > li.dropdown > a:focus{
	background: #f5f5f5;	
}

.btn-portfolio{
	background: #8d8da1;
	padding: 5px 10px;
	margin-right: 10px;
	display: inline-block;
	color: #fff;
	font-size: 11px;	
/*	font-family: "Kelson Regular", "Lato";*/
	text-transform: uppercase;
	transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;	
}

.btn-portfolio:hover,
.btn-portfolio:focus{
	background: #079b9d;
	color: #fff;
	text-decoration: none;
}

@media (max-width: 767px) {

.btn-portfolio{
	margin-right: 3px;
}
}

.btn-usuario{
	background: #079b9d;
	padding: 5px 10px;
	margin-right: 10px;
	display: inline-block;
	color: #fff;
	font-size: 11px;	
/*	font-family: "Kelson Regular", "Lato";*/
	text-transform: uppercase;
	transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;	
}

.btn-usuario:hover,
.btn-usuario:focus{
	background: #8d8da1;
	color: #fff;
	text-decoration: none;
}

@media (max-width: 767px) {

.btn-usuario{
	padding: 5px 7px;
	margin-right: 3px;
}
}


.btn-portugues{
	background: #c4c4c6;
	padding: 6px 10px 5px 10px;
	margin-right: 3px;
	display: inline-block;
	color: #fff;
	font-size: 11px;	
/*	font-family: "Kelson Regular", "Lato";*/
	transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;	
}

.btn-portugues:hover,
.btn-portugues:focus{
	background: #079b9d;
	color: #fff;
	text-decoration: none;
}

.btn-ingles{
	background: #aeaeb3;
	padding: 6px 10px 5px 10px;
	display: inline-block;
	color: #fff;
	font-size: 11px;	
/*	font-family: "Kelson Regular", "Lato";*/
	transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;	
}

.btn-ingles:hover,
.btn-ingles:focus{
	background: #079b9d;
	color: #fff;
	text-decoration: none;
}

@media (max-width: 767px) {

.btn-portugues{
	padding: 6px;
	margin-right:0;
}
.btn-ingles{
	padding: 6px;
}
}


.icon-portfolio,
.icon-area{
	font-size: 13px;
	margin-right: 5px;	
}

/* Animação Topo */

.menu-animado{
	position: fixed;
	display: none;
}

.menu-animacao{
	display: block;
	padding: 20px 0 0;
	-webkit-animation: menu 0.8s;
	-moz-animation: menu 0.8s;
	-o-animation: menu 0.8s;
	-ms-animation: menu 0.8s;
	animation: menu 0.8s;
	z-index: 999999999999;
	width: 100%;
	background: #fbfbfb;
}

.menu-animacao img{
	margin-top: 10px;	
}


@-webkit-keyframes menu {
	0% { 
	top: -106px;
	} 
	100% { 
	top: 0;
	} 
}

@-moz-keyframes menu {
	0% { 
	top: -106px;
	} 
	100% { 
	top: 0;
	} 
}

@-o-keyframes menu {
	0% { 
	top: -106px;
	} 
	100% { 
	top: 0;
	} 
}

@-ms-keyframes menu {
	0% { 
	top: -106px;
	} 
	100% { 
	top: 0;
	} 
}

@keyframes menu {
	0% { 
	top: -106px;
	} 
	100% { 
	top: 0;
	} 
}

/* Menu Atuações */

.menu-atuacoes > li > a:hover,
.menu-atuacoes > li > a:focus{
	background: none;
	color: #909090;
}


.menu-atuacoesFixed{
	position: fixed;
    top: 100px;
    max-width: 190px;
    text-align: left;
}