@charset "utf-8";
/* CSS Document */

/* Fontes */

@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);
@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700,700italic);

/* Externos */

@import url(fontes.css);
@import url(menu.css);
@import url(search.css);
@import url(slider.css);


/* Estrutura */

.header{
	padding: 0 0 26px;
    background: #f5f6f5;
    border-top: 2px solid #079b9d;	
}

.menu-top{
	margin-bottom: 20px;	
}

.feature-home{
	position: relative;
	height: 300px;
	overflow: hidden;	
}

.feature{
	position: relative;
	height: 250px;
	overflow: hidden;	
}

.feature-mobile{
	position: relative;
	height: 117px;
	overflow: hidden;	
}


.bg-ibira{
	background: url(../img/img-ibira.jpg) no-repeat top center;
	background-size: cover;	
}

.bg-oca{
	background: url(../img/img-oca.jpg) no-repeat top center;
	background-size: cover;				
}

.bg-paulista{
	background: url(../img/img-paulista.jpg) no-repeat top center;
	background-size: cover;				
}

.bg-ponte{
	background: url(../img/img-ponte.jpg) no-repeat top center;
	background-size: cover;				
}

.bg-predios{
	background: url(../img/img-predios.jpg) no-repeat top center;
	background-size: cover;				
}

.bg-rio{
	background: url(../img/img-rio.jpg) no-repeat top center;
	background-size: cover;				
}

.bg-recepcao{
	background: url(../img/img-recepcao.jpg) no-repeat top center;
	background-size: cover;				
}

.bg-luminaria{
	background: url(../img/img-luminaria.jpg) no-repeat top center;
	background-size: cover;				
}

.bg-profissionais{
	background: url(../img/img-profissionais.jpg) no-repeat top center;
	background-size: cover;		
}

.bg-reuniao{
	background: url(../img/img-reuniao.jpg) no-repeat top center;
	background-size: cover;		
}


/* BG Mobile */

.bg-ibira-mobile{
	background: url(../img/img-ibira-mobile.jpg) no-repeat top center;
	background-size: cover;	
}

.bg-oca-mobile{
	background: url(../img/img-oca-mobile.jpg) no-repeat top center;
	background-size: cover;				
}

.bg-paulista-mobile{
	background: url(../img/img-paulista-mobile.jpg) no-repeat top center;
	background-size: cover;				
}

.bg-ponte-mobile{
	background: url(../img/img-ponte-mobile.jpg) no-repeat top center;
	background-size: cover;				
}

.bg-predios-mobile{
	background: url(../img/img-predios-mobile.jpg) no-repeat top center;
	background-size: cover;				
}

.bg-rio-mobile{
	background: url(../img/img-rio-mobile.jpg) no-repeat top center;
	background-size: cover;				
}

.bg-recepcao-mobile{
	background: url(../img/img-recepcao-mobile.jpg) no-repeat top center;
	background-size: cover;				
}

.bg-luminaria-mobile{
	background: url(../img/img-luminaria-mobile.jpg) no-repeat top center;
	background-size: cover;				
}

.bg-profissionais-mobile{
	background: url(../img/img-profissionais-mobile.jpg) no-repeat top center;
	background-size: cover;		
}

.bg-reuniao-mobile{
	background: url(../img/img-reuniao-mobile.jpg) no-repeat top center;
	background-size: cover;		
}

.sub-header{
	position: relative;
	min-height: 65px;
}

.retangulo-header{
	width: 168px;
	height: 237px;
	position:absolute;	
	background: #079b9d;
	z-index: 4;
	top: -174px;
	mix-blend-mode: multiply;
}

.retangulo-page-header{
	width: 168px;
	height: 284px;
	position:absolute;	
	background: #079b9d;
	z-index: 4;
	top: -160px;
	mix-blend-mode: multiply;
}

@media (max-width: 767px) {
  .retangulo-page-header {
	width: 120px;
	height: 87px;
	top: -67px;
  }
  
  .breadcrumb{
	margin-top: 0;  
  }
}


.wrapper{
	margin-top: 15px;
	text-align: justify;
}

.footer{
	margin-top: 150px;
	position: relative;
}

.retangulo-footer{
	width: 40px;
	height: 300px;
	position:absolute;	
	background: #079b9d;
	z-index: 4;
	top: -50px;
	mix-blend-mode: multiply;
}
@media (max-width: 767px) {
	.retangulo-footer {
		width: 40px;
		height: 180px;
		position: absolute;
		background: #079b9d;
		z-index: 4;
		top: -87px;
		mix-blend-mode: multiply;
	}
}

.linha-footer{
	position:absolute;	
	z-index: 4;
	top: -50px;
	right: 200px;
	mix-blend-mode: multiply;
}


.bg-footer{
	background: url(../img/img-ponte.jpg) top center;
	height: 210px;
	overflow: hidden;	
}

.bg-footer-mobile{
	background: url(../img/img-ponte-mobile.jpg) top center;
	height: 117px;
	overflow: hidden;	
}

.conteudo-footer{
	background: #313131;
	padding: 60px 0 30px;
	font-size: 13px;
	font-weight: 300;
	color: #a3a5a8;
}

.logo-footer{
	margin-top: 10px;	
}

.social-footer{
	margin-top: 25px;	
}

.box-contato-footer{
	margin-bottom: 10px;
}

.box-contato-footer a{
	color: #a3a5a8;
	text-decoration: none;	
}

.box-contato-footer a:hover,
.box-contato-footer a:focus,
.box-contato-footer a:visited{
	color: #fff;
	text-decoration: none;	
}

.copyright{
	background: #a3a5a8;
	padding: 5px 0;
	font-weight: 300;
	color: #fff;
	font-size: 13px;	
}

.copyright p{
	margin: 3px 0 0;
	font-size: 12px;	
}


/* Elementos Home */

.img-noticia-home{
	margin-top: 20px;
	opacity: 0.8;	
}

.barra-noticia-home{
	width: 47px;
	height: 1px;
	background: #079b9d;
	margin: 20px 0;
}

.barra-titulo-slider{
	width: 47px;
	height: 1px;
	background: #079b9d;
	margin: 0 auto;
}


.margin-noticia-home{
	margin-top: 60px;	
}

.margin-informativo-home{
	margin-top: 16px;	
}

.btn-noticias-home{
	background: #079b9d;
	margin-top: 30px;
	padding: 10px 15px;
	font-size: 12px;
	font-family: "Lato";
	color: #fff;
	text-decoration: none;
	border: 1px solid transparent;
	transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;	

}

.btn-noticias-home:hover,
.btn-noticias-home:focus{
	background: #fff;
	color: #079b9d;
	border: 1px solid #079b9d;
	text-decoration: none;
}

.btn-download{
	background: #fff;
	margin: 20px 0;
	padding: 5px 10px;
	display: inline-block;
	font-size: 11px;
	font-family: "Lato";
	color: #079b9d;
	text-decoration: none;
	border: 1px solid #079b9d;
	transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;	

}

.btn-download:hover,
.btn-download:focus{
	background: #079b9d;
	color: #fff;
	border: 1px solid transparent;
	text-decoration: none;
}

.btn-lateral{
	background: #fff;
	margin: 0 0 15px 0;
	padding: 5px 10px;
	display: inline-block;
	font-size: 11px;
	font-family: "Lato";
	color: #079b9d;
	text-decoration: none;
	border: 1px solid #079b9d;
	transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;	

}

.btn-lateral:hover,
.btn-lateral:focus{
	background: #079b9d;
	color: #fff;
	border: 1px solid transparent;
	text-decoration: none;
}

.btn-enviar{
	background: #fff;
	margin: 0 0 15px 0;
	padding: 5px 10px;
	display: inline-block;
	font-size: 13px;
	font-family: "Lato";
	color: #079b9d;
	text-decoration: none;
	border: 1px solid #079b9d;
	border-radius: 0 !important;
	transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;	

}

.btn-enviar:hover,
.btn-enviar:focus{
	background: #079b9d;
	color: #fff;
	border: 1px solid transparent;
	text-decoration: none;
}


/* Titulos */

.titulo-home{
	margin: 0;
	padding: 0 0 15px;
	font-family: 'PT Serif', serif;
	font-size: 26px;
	font-weight: 300;
	font-style: italic;
	color: #079b9d;
	text-transform: uppercase;	
}

.titulo-home-mobile{
	margin-top: 30px;	
	padding: 0 0 15px;
	font-family: 'PT Serif', serif;
	font-size: 26px;
	font-weight: 300;
	font-style: italic;
	color: #079b9d;
	text-transform: uppercase;	
}

.barra-titulo-noticia{
	width: 47px;
	height: 1px;
	background: #079b9d;
	float: right;
	margin-right: 15px;
}

.barra-titulo-informativo{
	width: 47px;
	height: 1px;
	background: #079b9d;
	margin-left: 130px;
}

.titulo-noticia-home,
.titulo-noticia-home a{
	margin: 10px 0 0;
	font-family: 'PT Serif', serif;
	font-size: 17px;
	font-weight: 700;
	font-style: italic;
	color: #333;
	text-decoration: none;	
}

.titulo-noticia-home a:hover,
.titulo-noticia-home a:visited,
.titulo-noticia-home a:focus{
	text-decoration: underline;	
}

.titulo-informativo-home,
.titulo-informativo-home a{
	margin: 10px 0 0;
	font-family: 'PT Serif', serif;
	font-size: 14px;
	font-weight: 700;
	font-style: italic;
	color: #333;
	text-decoration: none;	
}

.titulo-informativo-home a:hover,
.titulo-informativo-home a:visited,
.titulo-informativo-home a:focus{
	text-decoration: underline;	
}

.titulo-interna-primeiro{
	margin: 0;
	padding: 0 0 15px 0;
	font-family: 'PT Serif', serif;
	font-size: 22px;
	font-weight: 300;
	font-style: italic;
	color: #079b9d;
}

.titulo-interna{
	margin: 0;
	padding: 15px 0;
	font-family: 'PT Serif', serif;
	font-size: 22px;
	font-weight: 300;
	font-style: italic;
	color: #079b9d;
}

.barra-titulo-interna{
	width: 47px;
	height: 1px;
	background: #079b9d;
	margin: 0 0 20px;
}

.data-noticia-home,
.data-informativo-home{
	font-family: "Lato";
	font-size: 11px;
	color: #079b9d;
}

/* Page Header */

.page-header{
	margin: 0 0 20px !important;
	border: none;
	font-family: 'PT Serif', serif;
	font-weight: 400;
	font-style: italic;
	color: #333;
}

.page-header h1{
	margin-top: 25px;
	font-size: 38px;
	text-transform: uppercase;
	color: #079b9d;
}

.page-header small{
	font-size: 20px;	
}

@media (max-width: 767px){
.page-header h1{
	margin-top: 25px;
	font-size: 25px;
	text-transform: uppercase;
	color: #079b9d;
}

.page-header small{
	font-size: 16px;	
}
	
}


.barra-page-header{
	width: 47px;
	height: 1px;
	background: #079b9d;
	margin: 20px 0 0 0;
}

/* Profissionais */

.box-profissionais{
	margin-bottom: 30px;	
}

.titulo-cargo{
	margin: 0;
	padding: 0;
	font-family: 'PT Serif', serif;
	font-size: 24px;
	font-weight: 300;
	font-style: italic;
	color: #079b9d;
	text-transform: uppercase;
}


.titulo-profissional{
	margin: 0 0 10px;
	padding: 0;
	font-family: 'PT Serif', serif;
	font-size: 22px;
	font-weight: 300;
	font-style: italic;
}

.titulo-profissional a{
	color: #079b9d;
}

.titulo-profissional a:hover,
.titulo-profissional a:focus{
	color: #909090;
	text-decoration: none;
}


.barra-titulo-profissional{
	width: 47px;
	height: 1px;
	background: #079b9d;
	margin: 5px 0 15px;
}

.barra-area-profissional{
	width: 47px;
	height: 1px;
	background: #079b9d;
	margin: 15px 0;
}

.barra-divisa-cargo{
	width: 47px;
	height: 1px;
	background: #079b9d;
	margin: 30px 0;
}

.barra-cargo{
	width: 47px;
	height: 1px;
	background: #079b9d;
	margin: 15px 0 30px;
}


.info-profissional{
	line-height: 1.5em;	
}

.email-prof{
	color: #333;	
}

.btn-vCard{
	color: #079b9d;
	text-decoration: underline;	
}

.box-info-profissionais{
	margin-top: 30px;
}

.texto-oportunidade{
	margin: 20px 0;	
}

.barra-titulo-oportunidade{
	width: 47px;
	height: 1px;
	background: #079b9d;
	margin-left: 186px;
}

.letras{
	list-style: none;
	margin: 0;
	padding: 0;
}

.letras > li{
    float: left;
    padding: 0 4px;
    min-width: 23px;
    display: inline-block;
    font-size: 14px;
}

.letras > li > a{
	color: #909090;	
}

.lista-romana,
.lista-alfabetica ol{
	list-style-type: lower-roman;
}

.lista-alfabetica{
	list-style-type: lower-alpha;
}

.table{
	font-size: 13px;
	text-align: left;
}

.table > thead > tr > th{
	color: #079b9d;
}
